*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 80px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    font-size: 2rem;
    z-index: 100;
}

header img.logo{
    height: 80%;
    width: auto;
    margin-left: 1rem;
}

header ul{
    list-style-type: none;
    display: flex;
    margin-right: 1rem;
    padding: 0;
}

header ul>li+li{
    margin-left: 1rem;
}

header li{
    display: flex;
    align-items: center;
}

header a{
    color: white;
    font-size: 1rem;
}



main{
    position: relative;
    margin: 80px auto 0;
    width: 100%;
    max-width: 1200px;
    background-color: lightgray;
}

main .main-content{
    background-image: url("../imgs/photo-of-automobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 292px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    
}

main h1{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

main .project-examples {
    display: flex;
}

main .our-team {
    display: flex;
    justify-content: center;
}

main .project-examples figure{
    /* width: 50%; */
    padding: 1rem;
    text-align: center;
}

main .our-team figure{
    /* width: 50%; */
    padding: 1rem;
    text-align: center;
}

main .our-team img{
    height: 10rem;
    width: auto;
}

@media only screen and (max-width:425px) {
    header .name{
        display: none;
    }    
    main .main-content{
        font-size: 2rem;      
    }

    main .project-examples{
        flex-direction: column;
    }
}




footer{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
    max-width: 1200px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
}

